.map
  overflow: hidden
  
  .map-visuals
    margin: 0 auto
    width: 800px
    height: 500px
    max-width: 100%

  .map-explanation
    margin: 1em auto
    width: 800px
    max-width: 100%
    padding: 1em
    background: white
    color: black
